@import "tailwindcss"; /* pode ficar se você usa Tailwind, não faz mal */

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Wrapper que cresce e empurra o footer */
.site-content {
  flex: 1 0 auto; /* grow, não encolhe além do necessário */
  padding-top: 70px; /* se tiver navbar fixa, você pode aplicar padding-top equivalente à altura dela */
}

/* Tema Default - Claro */
:root {
  --background-color: #eee8e8;
  --text-color: #171717;
  --component-bg-color: #ffffff;
}

/* Tema Escuro */
[data-theme="dark"] {
  --background-color: #2c2c2c;
  --text-color: #ffffff;
  --component-bg-color: #171717;
}
