.comments-container {
  display: flex;
  flex-direction: column;
}

.comment-title {
  margin-bottom: 10px;
}

.comment-textarea {
  width: 100%;
  border: 2px solid #940000;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  outline: none;
}

.comment-submit-button {
  width: 250px;
  height: 50px;
  background-color: #940000;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.3s ease;

  margin-bottom: 40px;
}

.comment-submit-button:hover {
  background-color: #a51313;
  cursor: pointer;
}

.comment-submit-button:active {
  zoom: 0.97;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comment-item {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.comment-avatar {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.comment-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-author {
  font-size: 16px;
  font-weight: bold;
  color: #aa1818;
}

.comment-text {
  font-size: 14px;
  color: var(--text-color);
}

.comment-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.comment-btn-action {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  cursor: pointer;

  transition: all 0.2s ease;
}

.comment-btn-action:hover {
  color: #aa1818;
  cursor: pointer;
}
