nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #940000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* garante que fique sobre o conteúdo */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  /* margin: 20px 0 0 20px; */
}

.navigation-link {
  list-style: none;
  color: #ffffff;
  position: relative; /* necessário para posicionar o ::after */
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.navigation-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* ajusta a distância do underline em relação ao texto */
  height: 2px;
  width: 100%;
  background-color: #ff3b3b;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navigation-link:hover {
  color: #ff3b3b;
  cursor: pointer;
}

.navigation-link:hover::after {
  cursor: pointer;
  transform: scaleX(1);
}
